.footer-menu {
  display: flex;
  padding: 0;
  align-items: flex-start;
}

.footer-menu__description {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.footer-menu__name {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer-menu__list {
  list-style-type: none;
  margin: 0;
  width: 175px;
  padding: 0;
  opacity: 0.7;
}
.footer-list__opt {
  line-height: 26px;
  font-weight: normal;
  font-size: 18px;
  margin-top: 10px;
}

.footer-menu__link {
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
@media (max-width: 800px) {
  .footer-menu {
    display: inline-block;
    flex-direction: column;
  }
  .footer-menu__name {
    margin-top: 30px;
  }
  .footer-menu__description {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .footer-menu {
    width: 700px;
  }
}
