@import "footer-menu.css";
@import "footer-contacts.css";
@import "footer-copy.css";
@import "footer-info.css";

.footer {
  background-color: #464c55;
  padding-top: 50px;
  color: #ffffff;
}

.footer-nav-box {
  display: flex;
}

.footer-nav-box__item {
  flex: 1;
  margin-bottom: 20px;
}

.footer__menu {
  flex-basis: 33%;
  margin-left: 10px;
}

.footer__info {
  margin-top: 93px;
  width: 60%;
  margin-right: 10px;
}

.footer__copy {
  margin-top: 40px;
}

.footer__contacts {
  flex-basis: 33.33%;
}

@media (max-width: 1024px) {
  .footer-container {
    flex-direction: column;
  }
  .footer-copy {
    margin-top: 0px;
  }
  .footer-nav-box {
    flex-direction: column;
  }
}
