body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto;
  width: 1060px;
  padding-left: 30px;
  padding-right: 30px;
}
.main {
  flex: 1;
}
