.footer {
  background-color: #464c55;
  padding-top: 90px;
  padding-bottom: 40px;
  color: #ffffff;
}

.footer-nav-box {
  display: flex;
}

.footer-nav-box__item {
  flex: 1;
}

.footer-nav-box__item_left {
  flex-basis: 66%;
  margin-right: 10px;
}

.footer-nav-box__item_right {
  flex-basis: 33%;
  margin-left: 10px;
}
