h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  color: #ffffff;
  margin-top: 93px;
}

.footer-total {
  text-align: left;
  width: 299px;
}

.footer-total_item {
  font-size: 26px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 0em;
}

.footer-total_text {
  color: hsla(0, 0%, 100%, 0.7);
  line-height: 22px;
  margin-top: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
}
