.header {
  padding-top: 0;
  padding-bottom: 0;
  color: #ffffff;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-menu__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header-menu__item {
  padding-right: 24px;
}


);
